body {
        margin: 0;
}
.nightmode {
        background: black;
        color: white;
}
.nightmode header {
        display: none;
}
#light {
        cursor: pointer;
}
#light, .nightmode #light:hover {
        font-weight: bold;
}
#light:hover, .nightmode #light {
        font-weight: normal;
}
.container {
        width: 770px;
        margin: 0 auto;
}
header h1 {
        margin: 0;
        padding: .5em 0;
}
header img {
        width: 100%;
        display: block;
}
video {
        width: 100%;
}
h1 {
        font-size: 1em;
        margin: 0;
        cursor: default;
}
h1 span {
        cursor: pointer;
        padding: 5px 5px 10px 5px;
        border-radius: 10px 10px 0 0;
}
.info-row {
        float: right;
}
#firstAired {
        margin-right: 10px;
        margin-top: .1em;
}
#selector-container {
        margin-top: 10px;
}
#selector-container[data-selected="show"] span#show, #selector-container[data-selected="season"] span#season, #selector-container[data-selected="episode"] span#episode, #selector {
        background-color: lightgrey;
}
#selector-container[data-selected="show"] #selector, #selector-container[data-selected="season"] #selector, #selector-container[data-selected="episode"] #selector {
        padding: 10px;
        border-radius: 10px;
}
#selector div {
        width: 100px;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
}
#selector img {
        max-width: 100px;
        max-height: 150px;
}
#playlist {
        margin-top: 10px;
        display: none;
}
#playlist a:hover {
        background-color: grey;
}
#playlist a {
        background-color: lightgrey;
        padding: 3px 6px;
        margin: 3px;
        cursor: pointer;
        display: inline-block;
}
#playlist a.active {
        background-color: green;
        color: white;
}